<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/public/css/bootstrap.css"/>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/adminModify.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="/admin">后台系统首页</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
            <li class="active"><a href="/admin/user">用户列表 <span class="sr-only">(current)</span></a></li>

        </ul>


        <ul class="nav navbar-nav navbar-right">
            {% if (username&&isAdmin) %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" id="exit">退出</a></li>
                </ul>
            </li>

            {% else %}
            <li><a href="/admin/login">登录</a></li>
            {% endif %}

        </ul>
    </div>
</nav>


<div class="container">
    <p>
        <label>用户名：</label>
        <span id="user">{{username}}</span>
    </p>
    <div class="form-group">
        <label>密码：</label>
        <input name="psd" type="text" class="form-control" value="{{psd}}"/>
    </div>
    <div class="form-group">
        <label>确认密码：</label>
        <input  name="repsd" type="text" class="form-control"/>
    </div>

    <button class="btn btn-success">修改</button>
    <a class="btn btn-danger" href="/admin/user">取消</a>
</div>


</body>
</html>